@font-face{font-family: 'runners';src: url('../static/fonts/runners.ttf');}
@font-face{font-family: 'runners_bold';src: url('../static/fonts/runners_bold.ttf');}
@font-face{font-family: 'typo';src: url('../static/fonts/typo.otf');}
@font-face{font-family: 'roboto';src: url('../static/fonts/Roboto-Regular.ttf');}
@font-face{font-family: 'roboto-light';src: url('../static/fonts/Roboto-LightItalic.ttf');}

/*https://coolors.co/0f0326-ef8354-c6c8ee-fcfcff-a63d40*/
body{
	background: #0c081b;
	color: #ececec;
	font-family: 'roboto';
}

#nav{display: flex;justify-content: space-between;align-items: end; margin: 20px 0;}
#app-title{font-size: 100px; font-family: 'runners'; margin: 10px 10px; font-weight: bold;}
#app-title span{font-family: 'typo';}
#nav-icons{font-size: 30px; margin: 25px; cursor: pointer;}

#cards{
	display: grid;
	grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% ;
}

.card{
	background: #151029;
	border-radius: 6px; 
	float: left;
	margin: 20px 10px;
	box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1), 0 6px 20px 0 rgba(255, 255, 255, 0.05);
	padding: 0px;
	border: 0px solid #342c54;
	font-size: 95%;
}

.card:hover{font-size:90%; padding: 2px;border: 2px solid #342c54;transition: all 0.2s;}
.card h3, .card h4{padding: 0 10px; text-transform: capitalize;}
.card img{width: 100%;}
#cards h4{font-family: roboto-light;}

#chosen{
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	margin: 20px 0px 30px;
	text-transform: capitalize;
}

.chose{
	background: #151029;
	display: grid;
	grid-template-columns: 20% 80%;
	box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.08), 0 6px 20px 0 rgba(255, 255, 255, 0.03);
}

.chose img{width: 70px;}
.chose p{margin: 5px}




@media screen and (max-width: 1000px) {
  #nav{align-items: center;}
  #nav-icons{margin: 15px;}
  #app-title{font-size: 40px; margin: 0 10px 5px;}
  #chosen{grid-template-columns: 50% 50%; font-size: 8px; margin: 0px 6px 20px;}
  .chose img{width: 35px;}
  .chose{box-shadow: 0 0px 0px 0 rgb(0 0 0 / 0%), 0 1px 5px 0 rgb(0 0 0 / 15%);}

  #cards{grid-template-columns: 25% 25% 25% 25%;}
  #cards h3{font-size: 10px;}
  #cards h4{font-size: 8px;}
  .card{margin: 5px; box-shadow: 0 2px 4px 0 rgb(0 0 0 / 8%), 0 2px 5px 0 rgb(0 0 0 / 17%);}
  .card h3, .card h4{padding: 0 6px;}
}

::-webkit-scrollbar {width: 4px;}
::-webkit-scrollbar-track {background: #85848a;}
::-webkit-scrollbar-thumb {background: #2a2a2b;}
::-webkit-scrollbar-thumb:hover {background: #36353c;}