<!DOCTYPE html>
<html>
<head>
	<meta name="HandheldFriendly" content="true" />
	<meta name="MobileOptimized" content="320" />
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width, user-scalable=no" />
	<title>RecoTrax Music Reccommender</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
	<link rel="shortcut icon" type="image/x-icon" href="{{url_for('static',filename='recoTrax.ico')}}">
</head>
<body>
	<div style="display: none">
		<form id='reset' action="home">
			<button type='submit'>Reset</button>
		</form>
		<form id='main' method="post">
			<button type='submit'>Submit</button>
			<input id='id' type="text" name='id'>
		</form>
	</div>	

	<div id="result" style="display: none;">
		<div id="cross-button" onclick="close_result()"><i class="fas fa-times"></i></div>
		<h1>Recommended Artists for you ...</h1>
		<div id="result-content">
			<div id="new-reco">
				<h2>Newly Recommended artists</h2>
				<div></div>
			</div>
			<div id='more-reco'>
				<h2>Listen more of them</h2>
				<div></div>
			</div>
		</div>
	</div>

	<div id="alert-box">Before you click SUBMIT, make sure you have selected enough songs. <br><br> Greater the number of songs you select, better will be the result :)</div>
	<div id="res-button" onclick="show_result()"><i class="fas fa-paper-plane"></i></div>

	<div id="nav">
		<span id="app-title"><span>reco</span>trax</span>
		<span id="nav-icons">
			<i onclick="window.location.href='https://github.com/auddy99/recoTrax'" class="fab fa-github"></i>
			<i onclick="window.location.href='https://www.linkedin.com/in/soumyadeep-auddy-270a89141/'" class="fab fa-linkedin"></i>
		</span>
	</div>
	<div id="chosen" style="display: none;"></div>

	<div id="cards">
	{% for row in recos.itertuples() %}
		<div class="card">
			<span style="display:none;">{{row[1]}}</span>
			<img src={{row[4]}}>
			<h3>{{row[2]}}</h3>
			<h4>
			{% for i in row[3] %}
				{{i}}<br>
			{%endfor%}
			</h4>
		</div>
	{%endfor%}
	</div>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript" src="{{url_for('static',filename='script.js')}}"></script>
</body>
</html>