<!DOCTYPE html>
<html>
<head>
	<title>RecoTrax Music Reccommender</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
	<link rel="shortcut icon" type="image/x-icon" href="{{url_for('static',filename='recoTrax.ico')}}">
</head>
<body>
	<div style="display: none">
		<form id='reset' action="home">
			<button type='submit'>Reset</button>
		</form>
		<form id='main' method="post">
			<button type='submit'>Submit</button>

			<input id='id' type="text" name='id'>
		</form>
	</div>	

	<h1 id="app-title"><span>reco</span>trax</h1>
	<div id="chosen"></div>

	<div id="cards">
	{% for row in recos.itertuples() %}
		<div class="card">
			<span style="display:none;">{{row[1]}}</span>
			<img src={{row[4]}}>
			<h3>{{row[2]}}</h3>
			<h4>
			{% for i in row[3] %}
				{{i}}<br>
			{%endfor%}
			</h4>
		</div>
	{%endfor%}
	</div>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript" src="{{url_for('static',filename='script.js')}}"></script>
</body>
</html>